﻿@{
    ViewData["Title"] = "Movie Catalog";
}
<title>@ViewData["Title"]</title>

<h2>My movie catalog</h2>

<ul>
    @for (int counter = 0; counter < (int)ViewData["numtimes"]; counter++)
    {
        <li>@ViewData["message"]</li>
    }
</ul>